.main {
  &__input {
    background-color: MintCream;
    border-radius: 5px;
    height: 30px;
    border: 1px solid grey;
  }
  &__button {
    height: 30px;
    background-color: MediumTurquoise;
    color: white;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
  }
  &__lists {
    display: flex;
    flex-direction: row;
    &--result {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.js-searchlist {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  list-style: none;
  cursor: pointer;
}

.js-favourite {
  background-color: MistyRose;
  font-family: $font-main;
  font-size: 18px;
  list-style: none;
}

.js-removed {
  display: none;
}

.icon {
  background-color: MistyRose;
  cursor: pointer;
}
